.login{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    background-color: #EBEBF0;
    justify-content: center;
    align-content: center;
}
.form{
    display: flex;
    flex-direction: column;
}
.h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 18px;
    color: #373867;
    margin-bottom: 76px;
    margin-top: 66px;
    align-self: center;
}
.button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.button{
    display: flex;
    flex-direction: column;
    background: #F56A6A;
    border: 1px solid black;
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    width: 327px;
    height: 48px;
    border-radius: 5px;
    margin-top: 42px;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.label-email{
    display: flex;
    flex-direction: column;
    width: 301px;
    align-self: center;
    margin-left: 58px;
    margin-right: 58px;
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px);
    border: 1px solid #373867;
}
.label-password{
    display: flex;
    flex-direction: column;
    margin-top: 39px;
    width: 301px;
    align-self: center;
    margin-left: 58px;
    margin-right: 58px;
    margin-bottom: 20px;
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px);
    border: 1px solid #373867;
}
.checkbox{
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    margin-left: 58px;
}
.p{
    display: flex;
    flex-direction: row;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    margin-top: 38px;
    justify-content: right;
    justify-items: right;
    margin-right: 51px;
}