.aside{
    display: none;
}
@media screen and (min-width: 768px){
    .aside {
        display: flex;
        width: 25%;
        height: 100%;
        position: fixed;
    }
    nav, .history, .header, .section, form, .footer{
        display: flex;
        flex-direction: column;
        width: 75%;
        margin-left: 25%;
    }
    .nav-menu{
        display: none;
    }
    .header-p, .history-p, .section-p{
        font-size: 20px;
    }
    .header-h1, .section-h2{
        font-size: 28px;
    }
    .header-img{
        width: 531px;
        height: 474px;
    }
    .section-h3{
        font-size: 23px;
        margin: 10px;
    }
    .history-h2{
        font-size: 20px;
    }
    .history-img{
        width: 393px;
        height: 267px;
    }
    .history-button{
        width: 201px;
        height: 62px;
    }
    .section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    .section-p{
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
    }
    .section-img{
        display: flex;
        flex-direction: row;
        width: 153px;
        height: 153px;
        justify-content: left;
    }
    .div{
        display: flex;
        flex-direction: row;
    }
    .form-title-image{
        width: 440px;
        height: 85px;
    }
    .input{
        width: 510px;
        height: 56px;
    }
    .input-message{
        width: 510px;
        height: 563px;
    }
    .input::-webkit-input-placeholder{
        font-size: 20px;
    }
    .input-message::-webkit-input-placeholder{
        font-size: 20px
    }
    select.input {
        font-size: 20px;
    }
    select::-webkit-input-placeholder{
        font-size: 20px;
    }
    .checkbox{
        font-size: 20px;
    }
    .form-button1,.form-button2{
        width: 201px;
        height: 56px;
    }
    .footer-h3{
        font-size: 26px;
    }
    .footer-li{
        font-size: 20px;
    }
    .social-networks{
        width: 33px;
        height: 33px;
    }
}
@media screen and (min-width: 1024px){
    
}
